<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.h2.Driver</property>
    <property name="hibernate.connection.url">jdbc:h2:file:/lamis3/database/lamis;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;CACHE_SIZE=32769;LOCK_TIMEOUT=10000;MODE=MySQL</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.default_schema">PUBLIC</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <!--    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">50</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>-->
    <mapping resource="org/fhi360/lamis/model/Adhere.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Adherehistory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Adr.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Adrhistory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Anc.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Child.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Childfollowup.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Chroniccare.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Clinic.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Delivery.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Dmscreen.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Dmscreenhistory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Drug.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Eid.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Exchange.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Facility.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Item.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Labno.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Laboratory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Labtest.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Labtestcategory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Lga.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Maternalfollowup.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Message.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Monitor.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Nigqual.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Oi.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Oihistory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Patient.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Performance.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Pharmacy.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Partnerinformation.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Privilege.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Regimen.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Regimendrug.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Regimenhistory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Regimentype.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Schedule.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Sent.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/State.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Status.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Statushistory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Specimen.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Tbscreen.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Tbscreenhistory.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Unsent.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/User.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Userprivilege.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Devolve.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Communitypharm.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Encounter.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Drugtherapy.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Appointment.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Validated.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Casemanager.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Patientcasemanager.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Prescription.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Eac.hbm.xml"/>
    <!--<mapping resource="org/fhi360/lamis/model/ApplicationInfo.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Dhiscodeset.hbm.xml" />  -->
    <mapping resource="org/fhi360/lamis/model/Assessment.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Hts.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Indexcontact.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Motherinformation.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Deviceconfig.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Indicatorvalue.hbm.xml"/>
    <mapping resource="org/fhi360/lamis/model/Dhisvalue.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
